md-content(ng-controller="personajesController")
    .personajes(layout="row" layout-padding layout-margin)
        md-list(flex=48)
            md-subheader.md-no-sticky Personajes disponibles
            md-list-item.md-2-line(ng-repeat="char in personajesAll" ng-click="remove_char(char)")
                md-list-item-text
                    h3 {{char.nombre}}
                    h5 {{char.jugador}}
                
            md-list-item.md-2-line(ng-click="new_ficha()")
                img.md-avatar(ng-src="assets/avatars/Elfos/mujer/pc_elffemale_10a_punkdecker.png")
                .md-list-item-text
                    h3 Crear un nuevo personaje
                    p A la derecha encontrarás la plantilla
        .detalle(flex=48)
            p Envia perfil por defecto a firebase
            
            .derecha(ng-show="currentChar")
                h2 {{currentChar.Nombre}}
                h4 {{currentChar.raza}} - {{currentChar.sexo}}
                hr
                h3 Atributos
            
            md-button.md-raised.md-warn(ng-click="guarda_char()") Guardar el personaje

