html
    background: url(/assets/img/fondo.jpg) no-repeat center center fixed
    background-size: cover
    font-family: 'Roboto', sans-serif !important
    overflow: hidden
body
    background: inherit !important
    -webkit-transition: -webkit-transform 1s
    -webkit-perspective: 600px
    
.acciones
    //background: rgba(0,0,0,0.4)
    padding-top: 40px
    padding-bottom: 40px
    a
        text-decoration inherit
        color inherit
.spacer
    height: 240px
.md-title
    text-align: center
md-card
    transition: all .2s ease-in-out
    &:hover
        transform: scale(0.98)
md-content
    background inherit !important
md-list
    background white
    md-list-item
        &:hover
            background #eee !important
.detalle
    background white
    
    
    
    
/////////// ANIMACIONES ///////////////
.flip {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
}
.flip.ng-enter {
    -webkit-transform: rotateY(-180deg);
}
.flip.ng-enter-active {
    -webkit-transform: rotateY(0deg);
}
.flip.ng-leave {
    -webkit-transform: rotateY(0deg);
}
.flip.ng-leave-active {
    -webkit-transform: rotateY(180deg);
}
.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

